@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css';


h1,h2,h3,h4,h5,h6 {
    letter-spacing: 1px;
    font-weight: bolder;
  }

  html {
    scroll-behavior: smooth;
  }

  .h-90 {
    height: 60vw;
  }

  .hero-caption {
    width: 290px;
  }

  .subs {
    display: grid;
    grid-template-columns: 10vw auto auto;
    grid-template-rows: 8vw 8vw;
    grid-gap: 20px;
    padding: 10px;
    margin-left: 10vw;
  }

  .subs2 {
    display: grid;
    grid-template-columns: auto 10vw  auto;
    grid-template-rows: 8vw 8vw;
    grid-gap: 20px;
    padding: 2rem 0;

  }   
  .subs .images, .subs2 .images {
    height: 19vw;
    overflow-y: hidden;
  }
  .subs img, .subs2 img{
    width: 100%;
    height: 18.5vw;
    border-radius: 10px;
    /* opacity: .8; */
    cursor: pointer;
    transition:  .25s ease-in-out;
  }

  .subs .images:hover .link-display, .subs2 .images:hover .link-display {
    top: 13vw;
  }
  .subs .link-display, .subs2 .link-display{
    position: absolute;
    top: 20vw;
    color: #fff;
    transition: .50s ease-in-out;
    padding-left: 20px;
  }


.subs .images:hover img , .subs2 .images:hover img{
    opacity: .4;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


  .subs .link-display p, .subs2 .link-display p {
    font-size: 1.5vw;
    margin-bottom: 0 !important;
  }

  .subs .link-display small, .subs2 .link-display small{
      margin-top: -10px;
      display: block;
      font-weight: bold;
  }

  .hero-container {
    overflow: hidden;
  }
  
  .hero-img-holder {
    width: 80vw;
  }

  .hero-img-holder3 {
    width: 80vw;
  }

  .hero-img-holder2 {
    width: 60vw;
  }

  .banner{
    margin-left: 6vw;
  }

  .gallery-header {
    margin-top: 200px;
    margin-left: -20px;
  }

  .gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 50px;
  }

/* Create four equal columns that sits next to each other */
.sections {
  -ms-flex: 39%; /* IE10 */
  flex: 39%;
  max-width: 39%;
  padding: 0 10px;
}

.down {
	margin-top: 200px
}

.gallery .items {
  position: relative;
  margin-top: 8px;
  margin-bottom: 150px;
  vertical-align: middle;
  width: 100%;
}

.team .items-mgt {
  position: relative;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 250px;
}


.team .mgt-img {
  opacity: .3;
  -webkit-transition: 1s ease-in-out;
	transition: 0.6s ease-in-out;
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gallery img {
  opacity: .3;
  -webkit-transition: 1s ease-in-out;
	transition: 0.6s ease-in-out;
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mobile-hero-caption, .mobile-hero {
    display: none;
}

.gallery img:hover {
  opacity: .9;

}

.team img:hover {
  opacity: .9;

}

.team-caption {
  position: absolute;
  /* bottom: 0; */
  bottom: 20px;
  z-index: 5;
}

.gallery-caption{
  position: absolute;
  left: -70px;
  /* bottom: 0; */
  bottom: 20px;
  z-index: 5;
}

.gallery-caption h4 {
  letter-spacing: 1px;
}

  
footer p{
  font-size: 12px ;
  font-weight: bold;
}

.mobile-hero-holder{
    display: none ;
}

@media (max-width: 1024px) {
  .gallery-header {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .hero-caption {
    width: 190px;
  }

  .hero-caption h1 {
    font-size: 25px;
  }

  .logo-brand img{
    width: 70px;
  }

  .h-90 {
    height: 70vw;
  }

   .gallery-header{
     margin-top: 100px;
   }

   .gallery-header h1 {
     font-size: 30px;
   }

  .gallery-caption h4 {
    letter-spacing: 1px;
    font-size: 16px;
  }

  .gallery-caption{
    left: -40px;
  }

  .sections {
    -ms-flex: 42%; /* IE10 */
    flex: 42%;
    max-width: 42%;
    padding: 0 10px;
  }
  
}
@media screen and (max-width: 767px) {
    .mobile-hero-caption {
        display: block;
    }

    .mobile-hero-holder{
        display: block;
    }

    .mobile-hero {
      display: block;
    }
}

@media screen and (max-width: 600px) {

  .mobile-hero {
    display: block;
  }

  .hero-caption {
    /* margin: 0 auto; */
    margin-top: 20px;  
    width: 290px;
  }

  .logo-brand img{
    width: 40px;
    margin-top: 60px;
  }

  .mobile-hero-caption {
    margin: 0 0 60px 30px;
  }

  .sections {
    -ms-flex: 80%;
    flex: 80%;
    max-width: 80%;
  }

  .down{
    margin-top: 0;
  }

  .gallery .items {
    margin-bottom: 70px;
  }

  .hero-content {
    display: none !important
  }

.mobile-hero-holder{
    display: block;
    margin-top: 0;
    /* margin: 0 auto; */
}
.mobile-hero {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .mobile-hero-col {
    -ms-flex: 17%; /* IE10 */
    flex: 17%;
    max-width: 17%;
    padding: 0 4px;
  }
  
  .mobile-hero-col2 {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    max-width: 40%;
    padding: 0 4px;
    margin-top: 5vw;
  }
  
  .mobile-hero-col img, .mobile-hero-col2 img  {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
  }

  .gallery-header {
    margin-left: 10px;
  }

  .gallery-header h1 {
      font-size: 29px;
  }

}

@media screen and (max-width: 375px) {
    .sections {
        -ms-flex: 99%; /* IE10 */
        flex: 90%;
        max-width: 90%;
        padding: 0 10px;
    }

    footer{
    text-align: center;
    }

    footer p{
    font-size: 12px ;
    }

    footer p:nth-child(2){
        display: none
    }
      
      
}

.full-pic-section {
  background-color: black;
  padding: 0;
  border: 0;
}

.teams-section {
  background-color: black;
  padding: 0;
  border: 0;
}

@media (orientation: landscape) {
  .full-pic-section {
    height: 500px;
  }
  .full-pic-section div {
    width: 25vw;
    height: 50%;
    display: inline-block;
  }

  .teams-section {
    height: 700px;
  }
  .teams-section div {
    width: 33.3vw;
    height: 50%;
    display: inline-block;
  }
}

@media (orientation: portrait) {
  .full-pic-section {
    height: 80vh;
  }
  .full-pic-section div {
    display: inline-block;
    width: 50vw;
    height: 20vh;
  }

  .teams-section {
    height: 120vh;
  }
  .teams-section div {
    display: inline-block;
    width: 100vw;
    height: 20vh;
  }
}

.h6-caption {
  background-color: rgba(255,255,255, 0.6);
  color: black;
  font-size: 9px;
}




/* =============== Image Slider ========================== */

.image-slider {
    z-index: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.image-slide {
    height: 100vh;
    /* margin: 0 auto; */
}

.slick-slide.slick-center {
    transform: scale(1.2);
    transition: transform .8s 1.4s cubic-bezier(.84, 0, .08, .99);
}

.slick-slide {
    transition: transform .7s cubic-bezier(.84, 0, .08, .99);
}

.slider-control {
    margin: 0%;
    position: absolute;
    z-index: 2;
    bottom: 4%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 2000;
}

button {
    color: #fff;
    background: none;
    padding: 20px 22px 16px;
    border: 1px solid rgba(255, 255, 255, .3);
    font-size: 16px;
    border-radius: 50% !important;
    /* margin: .4em; */
    margin-right: 20px !important;
    display: inline-block;
    outline: none;
}

button:focus {
    outline: none;
}

.block-1 {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 5%;
    left: 0%;
    background: #0f0f0f;
}

.block-2 {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 21%;
    left: 25%;
    background: #0f0f0f;
}

.block-3 {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 1.4%;
    right: 0%;
    background: #0f0f0f;
}

.overlay {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 20%;
    left: 5%;
    background: rgba(0, 0, 0, .65);
}

.text-slider-wrapper {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 30%;
}

.text-slider {
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

.text-slide h1 {
    color: #fff;
    font-size: 40px;
    padding: 10px 0;
    padding-left: 10%;
    /* font-family: "Cinzel"; */
    font-weight: 500;
    width: inherit !important;
    text-transform: uppercase;
}

@media(max-width: 990px) {
    .block-2, .overlay {
          display: none;
    }

    .block-1 {
          width: 0%;
    }

    .block-3 {
          width: 0%;
    }

    .image-slide {
        height: 70vh;
        /* margin: 0 auto; */
    }

    .slide-slick {
          display: none !important;
    }

    .text-slide h1 {
          font-size: 30px !important;
          padding-left: 5%;
    }

    .text-slider-wrapper {
          position: absolute;
          top: 50% !important;
    }

    .slider-control {
          left: 22.5%;
    }
    .slider-control {
        bottom: 25% !important;
        z-index: 2000;
    }
}


@media(max-width: 767px) {
    .text-slide h1 {
        font-size: 6vw !important;
        padding-left: 10%;
        background: rgba(0, 0, 0, 0.431);
    }

    .slider-control {
        bottom: 4%;
    }
}
