<template>
  <div class="black">
    <b-container fluid>
      <!-- <div id="line-wrapper"></div> -->
      <b-row class="hero-content" :style="{
          background: `linear-gradient(rgba(0,0,0,0.95), rgba(0,0,0,0.9)), url(${s3Link}001.jpg)`,
          backgroundPosition: `center`,
          backgroundSize: `cover`
        }">
        <b-col cols="5">
          <b-container class="d-flex align-items-center h-90 ">
            <div class="banner">
              <div class="logo-brand mb-5">
                <img src="../assets/logo.png" class="animate__animated animate__fadeIn animate__slow" />
              </div>
              <div class="hero-caption text-light mb-3">
                <h1 class="animate__animated animate__fadeIn animate__slow animate__delay-1s">PERTINENCE GROUP</h1>
                <p class="text-uppercase animate__animated animate__fadeIn animate__slow animate__delay-2s">
                  It's all about people
                </p>
              </div>
            </div>
          </b-container>
        </b-col>
        <b-col cols="7">
          <div class="hero-container">
            <div class="hero-img-holder">
              <div class="subs">
                <div class="position-relative images animate__animated animate__fadeIn animate__slow">
                  <h4 class="rogue-header">{{ subsidiaries[0].industry }}</h4>
                  <a
                    :href="
                      subsidiaries[0].haswebsite ? subsidiaries[0].site : '#'
                    "
                    :target="subsidiaries[0].haswebsite ? '_blank' : ''"
                  >
                    <img :src="subsidiaries[0].image" alt="" />
                    <div class="link-display">
                      <p class="text-light">
                        <b>{{ subsidiaries[0].prefix }}</b
                        >{{ subsidiaries[0].suffix }}
                      </p>
                      <!-- <small>visit:</small> -->
                      <!-- <small>{{
                        subsidiaries[0].haswebsite
                          ? removeHTTPS(subsidiaries[0].site)
                          : ""
                      }}</small> -->
                    </div>
                  </a>
                </div>
                <div class="position-relative images animate__animated animate__fadeIn animate__slow animate__delay-2s">
                  <h4 class="rogue-header">{{ subsidiaries[1].industry }}</h4>
                  <a
                    :href="
                      subsidiaries[1].haswebsite ? subsidiaries[1].site : '#'
                    "
                    target="_blank"
                  >
                    <img :src="subsidiaries[1].image" alt="" />
                    <div class="link-display">
                      <p class="text-light">
                        <b>{{ subsidiaries[1].prefix }}</b
                        >{{ subsidiaries[1].suffix }}
                      </p>
                      <!-- <small>visit:</small> -->
                      <!-- <small>{{ removeHTTPS(subsidiaries[1].site) }}</small> -->
                    </div>
                  </a>
                </div>
                <div>
                  <img
                    src="https://cdn.pixabay.com/photo/2017/03/10/06/49/san-francisco-2131951_1280.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="hero-img-holder2">
              <div class="subs2 ">
                <div class="position-relative images animate__animated animate__fadeIn animate__slow animate__delay-1s">
                  <h4 class="rogue-header">{{ subsidiaries[2].industry }}</h4>
                  <a
                    :href="
                      subsidiaries[2].haswebsite ? subsidiaries[2].site : '#'
                    "
                    target="_blank"
                  >
                    <img :src="subsidiaries[2].image" alt="" />
                    <div class="link-display">
                      <p class="text-light">
                        <b>{{ subsidiaries[2].prefix }}</b
                        >{{ subsidiaries[2].suffix }}
                      </p>
                      <!-- <small>visit:</small> -->
                      <!-- <small>{{ removeHTTPS(subsidiaries[2].site) }}</small> -->
                    </div>
                  </a>
                </div>
                <div class="position-relative images animate__animated animate__fadeIn animate__slow animate__delay-2s">
                  <h4 class="rogue-header">{{ subsidiaries[3].industry }}</h4>
                  <a
                    :href="
                      subsidiaries[3].haswebsite ? subsidiaries[3].site : '#'
                    "
                    target="_blank"
                  >
                    <img :src="subsidiaries[3].image" alt="" />
                    <div class="link-display">
                      <p class="text-light">
                        <b>{{ subsidiaries[3].prefix }}</b
                        >{{ subsidiaries[3].suffix }}
                      </p>
                      <!-- <small>visit:</small> -->
                      <!-- <small>{{ removeHTTPS(subsidiaries[3].site) }}</small> -->
                    </div>
                  </a>
                </div>
                <div class="position-relative images animate__animated animate__fadeIn animate__slow">
                  <h4 class="rogue-header">{{ subsidiaries[4].industry }}</h4>
                  <a
                    :href="
                      subsidiaries[4].haswebsite ? subsidiaries[4].site : '#'
                    "
                    target="_blank"
                  >
                    <img :src="subsidiaries[4].image" alt="" />
                    <div class="link-display">
                      <p class="text-light">
                        <b>{{ subsidiaries[4].prefix }}</b
                        >{{ subsidiaries[4].suffix }}
                      </p>
                      <!-- <small>visit:</small> -->
                      <!-- <small>{{ removeHTTPS(subsidiaries[4].site) }}</small> -->
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="hero-img-holder3">
              <div class="subs ">
                <div class="position-relative images animate__animated animate__fadeIn animate__slow animate__delay-1s">
                  <h4 class="rogue-header">LUXURY</h4>
                  <a href="https://hostnownow.com" target="_blank">
                    <img
                      src="../assets/photo-1490644658840-3f2e3f8c5625.jpeg"
                      alt=""
                    />

                    <div class="link-display">
                      <p class="text-light "><b>Homify</b></p>
                      <!-- <small>visit</small> -->
                      <!-- <small>homify.ng</small> -->
                    </div>
                  </a>
                </div>
                <div class="position-relative images animate__animated animate__fadeIn animate__slow animate__delay-2s">
                  <h4 class="rogue-header">{{ subsidiaries[5].industry }}</h4>
                  <a
                    :href="
                      subsidiaries[5].haswebsite ? subsidiaries[5].site : '#'
                    "
                    target="_blank"
                  >
                    <img :src="subsidiaries[5].image" alt="" />
                    <div class="link-display">
                      <p class="text-light">
                        <b>{{ subsidiaries[5].prefix }}</b
                        >{{ subsidiaries[5].suffix }}
                      </p>
                      <!-- <small>visit:</small> -->
                      <!-- <small>{{ removeHTTPS(subsidiaries[5].site) }}</small> -->
                    </div>
                  </a>
                </div>
                <div>
                  <img
                    src="../assets/photo-1487958449943-2429e8be8625.jpeg"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <!-- <b-row>
        <b-col cols="12" class="">
          <div class="mobile-hero-caption">
            <div class="logo-brand ">
              <img src="../assets/logo.png" />
            </div>
            <div class="hero-caption text-light mb-3">
              <h1>PERTINENCE GROUP</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur, ores natus odit nulla
                quasi accusantium?
              </p>
            </div>
          </div>
          <div class="mobile-hero-holder">
            <div class="mobile-hero">
              <div class="mobile-hero-col2">
                <img
                  src="../assets/photo-1487958449943-2429e8be8625.jpeg"
                  style="width:100%"
                />
                <img
                  src="../assets/photo-1451976426598-a7593bd6d0b2.jpeg"
                  style="width:100%"
                />
              </div>
              <div class="mobile-hero-col">
                <img
                  src="../assets/photo-1534237710431-e2fc698436d0.jpeg"
                  style="width:100%"
                />
                <img src="../assets/logo.png" style="width:100%" />
                <img
                  src="../assets/photo-1534237710431-e2fc698436d0.jpeg"
                  style="width:100%"
                />
              </div>
              <div class="mobile-hero-col2">
                <img
                  src="../assets/photo-1441040744088-a70b8213d4d4.jpeg"
                  style="width:100%"
                />
                <img
                  src="../assets/photo-1441040744088-a70b8213d4d4.jpeg"
                  style="width:100%"
                />
              </div>
            </div>
          </div>
        </b-col>
      </b-row> -->
    <div class="mobile-hero vh-100 vw-100 m-0 p-0">
      <div class="mobile-hero-logo">
        <img src="../assets/logo.png" />
      </div>
      <div
        class="subsidiary-section"
        v-for="(s, index) in subsidiaries"
        :key="index"
        :style="{
          backgroundImage: `linear-gradient(rgba(0,0,0,0.7), rgba(116,179,12, 0.2)), url(${s.image})`,
          backgroundSize: `cover`
        }"
      >
        <a
          :href="s.haswebsite ? s.site : '#'"
          :target="s.haswebsite ? '_blank' : ''"
        >
          <div class="w-100 h-100">
            <h6 class="text-light small font-weight-bold mt-2 ml-2">
              {{ s.industry }}
            </h6>
            <div class="mt-5 link-display ml-2">
              <p class="text-light">
                <b>{{ s.prefix }}</b
                >{{ s.suffix }}
                <br />
                <!-- <small class="text-light mt-0">{{
                  s.haswebsite ? removeHTTPS(s.site) : ""
                }}</small> -->
              </p>
              <!-- <small>visit:</small> -->
            </div>
          </div>
        </a>
      </div>
     
    </div>
     <div class="hero-caption text-light mt-4 mb-1 pl-4">
        <h1 class="animate__animated animate__fadeIn animate__slow animate__delay-1s">PERTINENCE GROUP</h1>
        <p class="text-uppercase animate__animated animate__fadeIn animate__slow animate__delay-2s">
          It's all about people
        </p>
      </div>
    <b-container fluid>
      <b-row>
        <b-col cols="12" class="text-light">
          <b-container>
            <div class="gallery-header">
              <p class="mb-0">THE CULTURE</p>
              <h1>
                Gallery
              </h1>
            </div>
          </b-container>
        </b-col>
        <b-col cols="12" class="d-flex justify-content-center">
          <b-container>
            <div class="gallery">
              <div class="sections">
                <div class="items">
                  <div class="gallery-caption">
                    <label for="" class="text-light">01</label>
                    <h6 class="text-light">
                      WEALTHSUMMIT 2020 <br />
                      ...
                    </h6>
                  </div>
                  <img
                    :src="hackLink + '1IgFldf4h-Gs4RzUOp3PlCWx7tBohNTwJ'"
                    style="width:100%"
                  />
                </div>
                <div class="items">
                  <div class="gallery-caption">
                    <label for="" class="text-light">02</label>
                    <h6 class="text-light">
                      WEALTHSUMMIT 2020 <br />
                      ...
                    </h6>
                  </div>
                  <img
                    :src="hackLink + '1rWDKKZECqjmrLwgMdjxAJH7t6AOgHW4V'"
                    style="width:100%"
                  />
                </div>
                <div class="items">
                  <div class="gallery-caption">
                    <label for="" class="text-light">03</label>
                    <h6 class="text-light">
                     WEALTHSUMMIT 2020 <br />
                      ...
                    </h6>
                  </div>
                  <img
                    :src="s3Link + '102.jpeg'"
                    style="width:100%"
                  />
                </div>
                <div class="items">
                  <div class="gallery-caption">
                    <label for="" class="text-light">04</label>
                    <h6 class="text-light">
                      PRODUCTIVITY REWARD <br />
                      ...
                    </h6>
                  </div>
                  <img
                    :src="hackLink + '1MpI--b5aaxIGCOe3WgFlyS93M-rpqa8C'"
                    style="width:100%"
                  />
                </div>
              </div>
              <div class="sections down">
                <div class="items">
                  <div class="gallery-caption">
                    <label for="" class="text-light">05</label>
                    <h6 class="text-light">
                      PROMISES FULFILLED <br />
                      ...
                    </h6>
                  </div>
                  <img
                    :src="hackLink + '1hFMqEuLXYvYbatgmX2IOLXC0rkhq6L_h'"
                    style="width:100%"
                  />
                </div>
                 <div class="items">
                  <div class="gallery-caption">
                    <label for="" class="text-light">06</label>
                    <h6 class="text-light">
                      WEALTHSUMMIT 2020 <br />
                      ...
                    </h6>
                  </div>
                  <img
                    :src="s3Link + '101.jpeg'"
                    style="width:100%"
                  />
                </div>
                <div class="items">
                  <div class="gallery-caption">
                    <label for="" class="text-light">07</label>
                    <h6 class="text-light">
                      PLATFORM <br />
                      ...
                    </h6>
                  </div>
                  <img
                    :src="hackLink + '1l-nawPsIjoVckJX3s6OnQV5sLgQl1nOE'"
                    style="width:100%"
                  />
                </div>
                <div class="items">
                  <div class="gallery-caption">
                    <label for="" class="text-light">08</label>
                    <h6 class="text-light">
                      MANAGEMENT <br />
                      ...
                    </h6>
                  </div>
                  <img :src="s3Link + '047.jpg'" style="width:100%" />
                </div>
              </div>
            </div>
          </b-container>
        </b-col>
      </b-row>
    </b-container>

    <div class="full-pic-section mt-5">
      <div
        v-for="(pic, index) in fullPictures"
        :key="index"
        :style="{
          backgroundImage: `linear-gradient(rgba(0,0,0,0.5), rgba(116,179,12, 0.1)), url(${s3Link}${pic.image})`,
          backgroundSize: `cover`
        }"
      >
        <div class="w-100 h-100 pt-4">
          <small
            class="h6-caption text-uppercase font-weight-bold mt-5 ml-3 p-2"
          >
            {{ pic.caption }}
          </small>
        </div>
      </div>
    </div>
    <div class="position-relative">

      <b-container>
        <div class="my-5">
          <p class="mb-0 text-light">Snapshots from</p>
          <h4 class="text-light">
            Unveiling the <br> Pertinence Place
          </h4>
        </div>
      </b-container>
      
     

      <div class="slider-control">
        <div class="prev"><button type="button"><ion-icon name="arrow-back"></ion-icon></button></div>
        <div class="next"><button type="button"><ion-icon name="arrow-forward"></ion-icon></button></div>
      </div>

      <div class="blocks">
        <div class="block-1"></div>
        <div class="block-2"></div>
        <div class="block-3"></div>
      </div>

      <div class="overlay"></div>

      <!-- <div class="" v-for="(item, index) in slider" :key="index"> -->
        <div class="text-slider-wrapper">
          <div class="text-slider text-holder">
            <div class="text-slide"><h1>{{slider[0].caption}} </h1></div>
            <div class="text-slide"><h1>{{slider[1].caption}} </h1></div>
            <div class="text-slide"><h1>{{slider[2].caption}} </h1></div>
            <div class="text-slide"><h1>{{slider[3].caption}} </h1></div>
            <div class="text-slide"><h1>{{slider[4].caption}} </h1></div>
            <div class="text-slide"><h1>{{slider[5].caption}} </h1></div>
            <div class="text-slide"><h1>{{slider[6].caption}} </h1></div>
            <div class="text-slide"><h1>{{slider[7].caption}} </h1></div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="" v-for="(item, index) in slider" :key="index + 'a'"> -->
      <div class="image-slider">
        <!-- <div class="image-slide" id="one" 
          :style="{
            backgroundImage: ` url( ${hackLink + '1CFZARRyKcQf3RY-SRr0JI97JwyexuTus'})`,
            backgroundSize: `cover`
          }"
          tyle="object-fit: cover"
        ></div> -->
        <img :src='s3Link + slider[0].image' class="image-slide" style="object-fit: cover"  alt=''>
        <img :src='s3Link + slider[1].image' class="image-slide" style="object-fit: cover"  alt=''>
        <img :src='s3Link + slider[2].image' class="image-slide" style="object-fit: cover"  alt=''>
         <img :src='s3Link + slider[3].image' class="image-slide" style="object-fit: cover"  alt=''>
         <img :src='s3Link + slider[4].image' class="image-slide" style="object-fit: cover"  alt=''>
        <img :src='s3Link + slider[5].image' class="image-slide" style="object-fit: cover"  alt=''>
        <img :src='s3Link + slider[6].image' class="image-slide" style="object-fit: cover"  alt=''>
         <img :src='s3Link + slider[7].image' class="image-slide" style="object-fit: cover"  alt=''>

      </div>
      <!-- </div> -->

    </div>

    <b-container>
      <div class="my-5">
        <p class="mb-0 text-light">OUR TEAMS</p>
        <h4 class="text-light">
          The Framework
        </h4>
      </div>
    </b-container>
    <div class="teams-section">
      <div
        v-for="(pic, index) in teams"
        :key="index"
        :style="{
          backgroundImage: `linear-gradient(rgba(0,0,0,0.5), rgba(116,179,12, 0.3)), url(${s3Link}${pic.image})`,
          backgroundSize: `cover`,
          backgroundPosition: `top`,
          backgroundRepeat: `no-repeat`
        }"
      >
        <div class="w-100 h-100 pt-4">
          <small
            class="h6-caption text-uppercase font-weight-bold mt-5 ml-3 p-2"
          >
            {{ pic.name }}
          </small>
        </div>
      </div>
    </div>
    <b-container>
      <div class="my-5">
        <p class="mb-0 text-light">PERTINENCE GROUP</p>
        <h4 class="text-light">
          The Management
        </h4>
      </div>
    </b-container>
    <b-container>
      <div class="team">
        <b-row>
          <b-col cols="12" md="6" v-for="(staff, index) in mgt" :key="index">
            <div class="items-mgt mb-3">
              <div class="team-caption">
                <label for="" class="text-light"></label>
                <small class="text-light">
                  {{ staff.name }}<br />{{ staff.office }}
                </small>
              </div>
              <img
                class="mgt-img"
                :src="s3Link + staff.image"
                style="width:100%"
              />
            </div>
          </b-col>
        </b-row>
      </div>
    </b-container>
    <b-container fluid>
      <footer class="py-3">
        <b-container>
          <div
            class="d-flex justify-content-between text-light py-3 px-3 bg-transparent"
          >
            <p class="mb-0">&copy; 2020 PERTINENCE GROUP</p>
            <!--<p class="mb-0">CRAFTED BY DATAFIRST TECH. LTD</p>-->
          </div>
        </b-container>
      </footer>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "HomePage",
  data() {
    return {
      s3Link: "https://group-pictures.s3.amazonaws.com/image--",
      hackLink: "https://drive.google.com/thumbnail?id=",
      mgt: [

        {
          image: "112.jpg",
          name: "SUNDAY OLORUNSHEYI",
          office: "ED, PERTINENCE GROUP"
        },
        {
          image: "113.jpg",
          name: "WISDOM EZEKIEL",
          office: "ED, PERTINENCE GROUP"
        },
        {
          image: "114.jpg",
          name: "JEFFREY EHIKIOYA",
          office: "CEO, PERTINENCE PROPERTIES LTD"
        },
        {
          image: "115.jpg",
          name: "OKEDARA OLUMIDE",
          office: "COO, PERTINENCE PROPERTIES LTD"
        },
        {
          image: "116.jpg",
          name: "ABEL ADEJOH",
          office: "CEO, PETTYSAVE"
        },
        {
          image: "117.jpg",
          name: "EMMANUEL OSUBU",
          office: "CEO, HOSTNOWNOW LTD"
        },
        {
          image: "118.jpg",
          name: "DAMILARE OSHOKOYA",
          office: "CEO, REALVEST GLOBAL TECHNOLOGIES"
        },
        {
          image: "119.jpg",
          name: "ADETUNJI ADEMUYIWA",
          office: "CEO, DATAFIRST TECH. LTD"
        },
        {
          image: "120.jpg",
          name: "UDOKA EZEAGU",
          office: "MD, PETTYSAVE MICROFINANCE BANK"
        },
        {
          image: "121.jpg",
          name: "PETER ADETULA",
          office: "CEO, CLOUDNINE"
        }
      ],
      teams: [
        {
          image: "127.jpg",
          name: "PPL TEAM"
        },
        {
          image: "122.jpg",
          name: "PETTYSAVE TEAM"
        },
        {
          image: "125.jpg",
          name: "REALVEST TEAM"
        },
        {
          image: "123.jpg",
          name: "DATAFIRST TEAM"
        },
        {
          image: "124.jpg",
          name: "HOSTNOWNOW TEAM"
        },
        {
          image: "126.jpg",
          name: "CLOUD NINE TEAM"
        }
      ],

      slider: [
        
         {
          image: "001.jpg",
          caption: "Lorem ipsum dolor sit amet"
        },
        {
          image: "02324.jpg",
          caption: "Lorem ipsum dolor sit amet "
        },
        {
          image: "01374.jpg",
          caption: " Lorem ipsum dolor sit amet"
        },
        {
          image: "02964.jpg",
          caption: " Lorem ipsum dolor sit amet"
        },
        {
          image: "03252.jpg",
          caption: " Lorem ipsum dolor sit amet"
        },
        {
          image: "03650.jpg",
          caption: " Lorem ipsum dolor sit amet"
        },
        {
          image: "01843.jpg",
          caption: " Lorem ipsum dolor sit amet"
        },
        // {
        //   image: "01374.jpg",
        //   caption: " Lorem ipsum dolor sit amet"
        // },
        {
          image: "03337.jpg",
          caption: " Lorem ipsum dolor sit amet  "
        }
      ],
      fullPictures: [
        {
          image: "103.jpeg",
          caption: "PARTNERSHIP"
        },
        {
          image: "090.jpg",
          caption: "GLOBAL"
        },
        {
          image: "092.jpg",
          caption: "CONSISTENT"
        },
        {
          image: "094.jpg",
          caption: "RELIABLE"
        },
        {
          image: "282.jpg",
          caption: "OPPORTUNITIES"
        },
        {
          image: "3709.jpg",
          caption: "CAPABLE"
        },
        {
          image: "104.jpg",
          caption: "TEAM WORK"
        },
        {
          image: "3711.jpg",
          caption: "NETWORK"
        }
      ],
      subsidiaries: [
        {
          prefix: `Cloud`,
          suffix: `Nine`,
          haswebsite: false,
          site: `coming soon`,
          image: `https://images.unsplash.com/photo-1509343256512-d77a5cb3791b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80`,
          industry: `BRANDING`
        },
        {
          prefix: `Data`,
          suffix: `First`,
          haswebsite: true,
          site: `https://datafirst.com.ng`,
          image: `https://images.unsplash.com/photo-1527434171365-3d9f55f5fb78?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80`,
          industry: `TECHNOLOGY`
        },
        {
          prefix: `Pertinence`,
          suffix: `Properties`,
          haswebsite: true,
          site: `https://pertinenceproperties.com`,
          image: `https://images.unsplash.com/photo-1542718786-2e81a9d3dfac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80`,
          industry: `REAL ESTATE`
        },
        {
          prefix: `Petty`,
          suffix: `save`,
          haswebsite: true,
          site: `https://pettysave.com`,
          image: `https://images.unsplash.com/photo-1579621970795-87facc2f976d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3300&q=80`,
          industry: `FINTECH`
        },
        {
          prefix: `Real`,
          suffix: `Vest`,
          haswebsite: true,
          site: `https://realvest.ng`,
          image: `https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2250&q=80`,
          industry: `HOUSING`
        },
        {
          prefix: `HostNow`,
          suffix: `Now`,
          haswebsite: true,
          site: `https://hostnownow.com`,
          image: `https://images.unsplash.com/photo-1580106815433-a5b1d1d53d85?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80`,
          industry: `WEBHOSTING`
        }
      ],
      me: require("../assets/photo-1487958449943-2429e8be8625.jpeg")
    };
  },
  methods: {
    removeHTTPS(link) {
      return link.replace("https://", "");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.black {
  background: black;
}
#modal-multi-1 img {
  /* width: inherit !important; */
  /* height: 800px; */
  object-fit: cover;
}

.rogue-header {
  font-family: "Bebas Neue", cursive;
  top: 50%;
  left: 20px;
  color: white;
  position: absolute;
}

.subsidiary-section {
  width: 50%;
  height: 33.3%;
}

.mobile-hero-logo {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: calc(50% - 25px);
}

.mobile-hero-logo img {
  width: 100%;
  height: 100%;
}

a:focus {
  text-decoration: none;
  outline-width: 0;
  outline: none;
}
</style>
