<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  body{
    background: black;
  }

  .verticle-line {
    width: 1px;
    background: rgb(156, 0, 0);
    margin: 15px 0 15px 20% ;
    z-index: 0;
    position: absolute;
    /* animation: anime 5s ease-in-out ; */
  }
</style>
